/* Default styles for mobile */

.hero {
	display: flex;
	flex-direction: column;

	&-image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%; // Or any specific width
		position: relative;

		.hero-image {
			position: relative;
			max-width: 100%; // Ensures image doesn’t overflow the container
			height: auto; // Maintains aspect ratio
			z-index: 1;
		}
	}
}

/* Styles for larger screens */
@media (min-width: 769px) {
	.hero {
		flex-direction: row-reverse;

		&-image-container {
			.hero-image {
				width: 40vw;
				max-width: 500px;
			}
		}
	}
}
