/* Default styles for mobile */
.container {
	padding: 0 1rem;
}

section {
	margin-bottom: 1rem;

	&:nth-child(even) {
		background-color: rgb(240, 240, 240);
	}
}

.title {
	padding: 0.5rem 0;
}

.hero {
	display: flex;
	flex-direction: column;

	&-services {
		margin-top: 1rem;

		&-list {
			margin-top: 0.5rem;
		}
	}

	&-image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%; // Or any specific width
		position: relative;

		.hero-image {
			position: relative;
			max-width: 100%; // Ensures image doesn’t overflow the container
			height: auto; // Maintains aspect ratio
			z-index: 1;
		}
	}
}

.nhs-login {
	text-align: center;
	background-color: #005eb8;
	width: 15rem;
	margin: auto;
	padding: 0.75rem;
	border-radius: 0.2rem;
	margin-top: 1rem;

	&:hover {
		background-color: #003087;
	}

	&-button {
		display: flex;
		justify-content: center;
		gap: 0.25rem;
		text-decoration: unset;
		span {
			color: white;
		}
	}
}

.nhs-apps {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	text-align: center;
	margin: 0.8rem auto 0;
	border-radius: 0.2rem;

	a {
		border: black 0.1rem solid;
		display: flex;
		justify-content: center;
		gap: 0.25rem;
		text-decoration: unset;
		padding: 0.8rem 1rem;
	}
}

.services {
	&-list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		&-item {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			gap: 1rem;

			background-color: lightgray;

			// background-image: url("../../assets/images/pharmacist.jpeg"); /* Path relative to the CSS file */
			// background-size: cover; /* Cover the entire area of the element */
			// background-position: center; /* Center the image in the element */
			// background-repeat: no-repeat; /* Do not repeat the image */
			position: relative;
			color: white;
			font-weight: 500;
			border-radius: 1rem;
			padding: 1rem 1rem 3rem;
			height: 20rem;
			width: auto;
			overflow: hidden;

			// &::after {
			// 	content: "";
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	right: 0;
			// 	bottom: 0;
			// 	background: rgba(
			// 		0,
			// 		0,
			// 		0,
			// 		0.5
			// 	); /* Dark overlay with 50% opacity */
			// 	pointer-events: none;
			// }

			&-title {
				font-size: 2rem;
			}

			&-description {
			}
		}
	}
}

/* Styles for larger screens */
@media (min-width: 769px) {
	.hero {
		flex-direction: row-reverse;

		&-image-container {
			.hero-image {
				width: 40vw;
				max-width: 500px;
			}
		}
	}

	.nhs-login {
		width: 20rem;
	}
}
